Import modules

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import pandas_profiling
from scipy import stats
import numpy as np

Input data to pandas dataframe

In [3]:
raw_data1 = pd.read_csv('C:/Users/jdgil/Desktop/Python/Jupyter/Capstone Two/Data/Josh_1.csv')
raw_data2 = pd.read_csv('C:/Users/jdgil/Desktop/Python/Jupyter/Capstone Two/Data/JOsh_2.csv')
raw_data3 = pd.read_csv('C:/Users/jdgil/Desktop/Python/Jupyter/Capstone Two/Data/JOsh_3.csv')
raw_data_part = pd.concat([raw_data1, raw_data2])
raw_data_full = pd.concat([raw_data_part, raw_data3])

Brief Look at data

In [4]:
raw_data_full.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9117 entries, 0 to 2613
Data columns (total 140 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   APN/PIN/Tax 1                8527 non-null   object
 1   APN/PIN/Tax 2                8527 non-null   object
 2   APN/PIN/Tax 3                3774 non-null   object
 3   FIPS                         9117 non-null   int64
 4   Census Tract                 9006 non-null   float64
 5   Property Address             9103 non-null   object
 6   House Number                 9069 non-null   object
 7   Pre Direction                198 non-null    object
 8   Street                       9103 non-null   object
 9   Street Suffix                8968 non-null   object
 10  Post Direction               9 non-null      object
 11  Unit Type                    450 non-null    object
 12  Unit Number                  450 non-null    object
 13  City                         9103 non-null   object
 14  State                        9117 non-null   object
 15  ZIP 5                        9094 non-null   float64
 16  ZIP 4                        9028 non-null   float64
 17  Mailing Address              9101 non-null   object
 18  Mailing House Number         8925 non-null   object
 19  Mailing Pre Direction        384 non-null    object
 20  Mailing Street               9101 non-null   object
 21  Mailing Street Suffix        8724 non-null   object
 22  Mailing Post Direction       57 non-null     object
 23  Mailing Unit Type            899 non-null    object
 24  Mailing Unit Number          889 non-null    object
 25  Mailing City                 9085 non-null   object
 26  Mailing State                9074 non-null   object
 27  Mailing ZIP 5                9073 non-null   object
 28  Mailing ZIP 4                8944 non-null   float64
 29  MLS ID                       9117 non-null   int64
 30  Listing Type                 9117 non-null   object
 31  Status                       9117 non-null   object
 32  List Price                   9117 non-null   int64
 33  Days on Market               9115 non-null   float64
 34  Contract Status Change Date  9117 non-null   object
 35  Township Name                9114 non-null   object
 36  Subdivision Code             1115 non-null   object
 37  Subdivision                  9114 non-null   object
 38  Current Year Tax             9117 non-null   int64
 39  Tax Amount                   9110 non-null   float64
 40  Tax Rate Code Area           5444 non-null   object
 41  Current Year Assessment      9117 non-null   float64
 42  Total Assessed Value         9117 non-null   int64
 43  Assessed Land                9117 non-null   int64
 44  Assessed Improvement         9117 non-null   int64
 45  Total Market Value           9117 non-null   int64
 46  Market Value Land            9117 non-null   int64
 47  Market Value Improvement     9117 non-null   int64
 48  Estimated Value              8819 non-null   float64
 49  Absentee Status              9117 non-null   object
 50  Exemption-Veterans           9117 non-null   bool
 51  Exemption-Disabled           9117 non-null   bool
 52  Exemption-Senior             9117 non-null   bool
 53  Exemption-Widow              9117 non-null   bool
 54  Exemption-Homestead          9117 non-null   bool
 55  Block #                      8816 non-null   object
 56  Lot #                        9008 non-null   object
 57  Section #                    0 non-null      float64
 58  County Use Code              9113 non-null   object
 59  Universal Land Use           9117 non-null   object
 60  State Land Use Code          0 non-null      float64
 61  Zoning                       2318 non-null   object
 62  Plat Map Reference           3730 non-null   object
 63  Lot Acres                    9117 non-null   float64
 64  Lot SQFT                     9117 non-null   float64
 65  New Construction             8847 non-null   object
 66  Beds                         9013 non-null   float64
 67  Baths                        9117 non-null   float64
 68  Total Building Area          9117 non-null   int64
 69  Living Area SQFT             9041 non-null   float64
 70  Gross Area SQFT              355 non-null    float64
 71  Basement SQFT                7 non-null      float64
 72  Garage SQFT                  8301 non-null   float64
 73  Basement                     1551 non-null   object
 74  Flooring Cover               2968 non-null   object
 75  Stories                      8915 non-null   object
 76  Style                        1086 non-null   object
 77  Year Built                   8847 non-null   float64
 78  Air conditioning             8311 non-null   object
 79  Heat Type                    8174 non-null   object
 80  Fireplace indicator          9117 non-null   bool
 81  Construction Type            4996 non-null   object
 82  Exterior Wall                8312 non-null   object
 83  Roof Material Type           6676 non-null   object
 84  Porch Type                   5825 non-null   object
 85  Has Pool                     1631 non-null   object
 86  Parking spaces               9117 non-null   int64
 87  Parking Type                 8436 non-null   object
 88  Total Units                  9117 non-null   int64
 89  Sell Score                   0 non-null      float64
 90  Distressed Indicator         1 non-null      object
 91  Distressed Recording Date    191 non-null    object
 92  Distressed Case Number       3 non-null      object
 93  Auction Date                 84 non-null     object
 94  Default Date                 0 non-null      float64
 95  Recording Date               8945 non-null   object
 96  Document Type                8789 non-null   object
 97  Sales Price                  6153 non-null   float64
 98  Equity                       8819 non-null   float64
 99  Equity Percentage            8956 non-null   object
 100 Number Of Mortgages          9117 non-null   int64
 101 Mortgage Loan Balance        9117 non-null   float64
 102 Mortgage 1 Lender Name       6647 non-null   object
 103 Mortgage 1 Loan Type         6647 non-null   object
 104 Mortgage 1 Amount            6647 non-null   float64
 105 Mortgage 1 Loan Date         6635 non-null   object
 106 Mortgage 1 Rate              6647 non-null   object
 107 Estimated Rate               6647 non-null   object
 108 Estimated Rate.1             6647 non-null   object
 109 Mortgage 1 Age               6635 non-null   object
 110 Mortgage 2 Lender Name       260 non-null    object
 111 Mortgage 2 Loan Type         260 non-null    object
 112 Mortgage 2 Amount            231 non-null    float64
 113 Mortgage 2 Loan Date         259 non-null    object
 114 Mortgage 2 Rate              260 non-null    object
 115 Mortgage 2 Age               259 non-null    object
 116 Mortgage 3 Lender Name       3 non-null      object
 117 Mortgage 3 Loan Type         3 non-null      object
 118 Mortgage 3 Amount            1 non-null      float64
 119 Mortgage 3 Loan Date         3 non-null      object
 120 Mortgage 3 Rate              3 non-null      object
 121 Mortgage 3 Age               3 non-null      object
 122 Mortgage 4 Lender Name       2 non-null      object
 123 Mortgage 4 Loan Type         2 non-null      object
 124 Mortgage 4 Amount            0 non-null      float64
 125 Mortgage 4 Loan Date         2 non-null      object
 126 Mortgage 4 Rate              2 non-null      object
 127 Mortgage 4 Age               2 non-null      object
 128 Owner 1 First Name           8122 non-null   object
 129 Owner 1 Middle Name          4869 non-null   object
 130 Owner 1 Last Name            8123 non-null   object
 131 Owner 1 Full Name            9117 non-null   object
 132 Owner 1 Email Addresses      2578 non-null   object
 133 Owner 1 Phone Numbers        2349 non-null   object
 134 Owner 2 First Name           4809 non-null   object
 135 Owner 2 Middle Name          2683 non-null   object
 136 Owner 2 Last Name            4809 non-null   object
 137 Owner 2 Full Name            4953 non-null   object
 138 Owner 2 Email Addresses      690 non-null    object
 139 Owner 2 Phone Numbers        635 non-null    object
dtypes: bool(6), float64(28), int64(14), object(92)
memory usage: 9.4+ MB

Remove personal data and columns with mostly null values

In [5]:
personal_scrubbed = raw_data_full.drop(raw_data_full.columns[[0,1,2,3,5,6,7,8,9,10,11,12,17,18,19,20,21,22,23,24,34,36,50,51,52,53,54,57,60,89,90,91,92,93,94,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139]], axis=1)
personal_scrubbed.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9117 entries, 0 to 2613
Data columns (total 74 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Census Tract              9006 non-null   float64
 1   City                      9103 non-null   object
 2   State                     9117 non-null   object
 3   ZIP 5                     9094 non-null   float64
 4   ZIP 4                     9028 non-null   float64
 5   Mailing City              9085 non-null   object
 6   Mailing State             9074 non-null   object
 7   Mailing ZIP 5             9073 non-null   object
 8   Mailing ZIP 4             8944 non-null   float64
 9   MLS ID                    9117 non-null   int64
 10  Listing Type              9117 non-null   object
 11  Status                    9117 non-null   object
 12  List Price                9117 non-null   int64
 13  Days on Market            9115 non-null   float64
 14  Township Name             9114 non-null   object
 15  Subdivision               9114 non-null   object
 16  Current Year Tax          9117 non-null   int64
 17  Tax Amount                9110 non-null   float64
 18  Tax Rate Code Area        5444 non-null   object
 19  Current Year Assessment   9117 non-null   float64
 20  Total Assessed Value      9117 non-null   int64
 21  Assessed Land             9117 non-null   int64
 22  Assessed Improvement      9117 non-null   int64
 23  Total Market Value        9117 non-null   int64
 24  Market Value Land         9117 non-null   int64
 25  Market Value Improvement  9117 non-null   int64
 26  Estimated Value           8819 non-null   float64
 27  Absentee Status           9117 non-null   object
 28  Block #                   8816 non-null   object
 29  Lot #                     9008 non-null   object
 30  County Use Code           9113 non-null   object
 31  Universal Land Use        9117 non-null   object
 32  Zoning                    2318 non-null   object
 33  Plat Map Reference        3730 non-null   object
 34  Lot Acres                 9117 non-null   float64
 35  Lot SQFT                  9117 non-null   float64
 36  New Construction          8847 non-null   object
 37  Beds                      9013 non-null   float64
 38  Baths                     9117 non-null   float64
 39  Total Building Area       9117 non-null   int64
 40  Living Area SQFT          9041 non-null   float64
 41  Gross Area SQFT           355 non-null    float64
 42  Basement SQFT             7 non-null      float64
 43  Garage SQFT               8301 non-null   float64
 44  Basement                  1551 non-null   object
 45  Flooring Cover            2968 non-null   object
 46  Stories                   8915 non-null   object
 47  Style                     1086 non-null   object
 48  Year Built                8847 non-null   float64
 49  Air conditioning          8311 non-null   object
 50  Heat Type                 8174 non-null   object
 51  Fireplace indicator       9117 non-null   bool
 52  Construction Type         4996 non-null   object
 53  Exterior Wall             8312 non-null   object
 54  Roof Material Type        6676 non-null   object
 55  Porch Type                5825 non-null   object
 56  Has Pool                  1631 non-null   object
 57  Parking spaces            9117 non-null   int64
 58  Parking Type              8436 non-null   object
 59  Total Units               9117 non-null   int64
 60  Recording Date            8945 non-null   object
 61  Document Type             8789 non-null   object
 62  Sales Price               6153 non-null   float64
 63  Equity                    8819 non-null   float64
 64  Equity Percentage         8956 non-null   object
 65  Number Of Mortgages       9117 non-null   int64
 66  Mortgage Loan Balance     9117 non-null   float64
 67  Mortgage 1 Lender Name    6647 non-null   object
 68  Mortgage 1 Loan Type      6647 non-null   object
 69  Mortgage 1 Amount         6647 non-null   float64
 70  Mortgage 1 Loan Date      6635 non-null   object
 71  Mortgage 1 Rate           6647 non-null   object
 72  Estimated Rate            6647 non-null   object
 73  Estimated Rate.1          6647 non-null   object
dtypes: bool(1), float64(21), int64(13), object(39)
memory usage: 5.2+ MB

More in depth look at data with pandas profiling, review what the actual columns are are note which are not useful to be scrubbed (deleted due to memory problems)

Clean out more unneeded columns after looking at pandas profiling and remove commercial properties and vacant lots.
Commercial properties should be most of the large outliers and the vacant lots give 0's for size so are useless.

In [6]:
personal_scrubbed2 = personal_scrubbed.drop(['Census Tract','Mailing City','Mailing State','Mailing ZIP 5','Mailing ZIP 4','Current Year Tax','Tax Rate Code Area', 'Current Year Assessment','Block #','Lot #','Plat Map Reference','Style','Recording Date','Document Type','Number Of Mortgages','Mortgage Loan Balance','Mortgage 1 Lender Name', 'Mortgage 1 Loan Type','Mortgage 1 Loan Date','Estimated Rate', 'Estimated Rate.1','Absentee Status','Gross Area SQFT'], axis=1)
personal_scrubbed2.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9117 entries, 0 to 2613
Data columns (total 51 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   City                      9103 non-null   object
 1   State                     9117 non-null   object
 2   ZIP 5                     9094 non-null   float64
 3   ZIP 4                     9028 non-null   float64
 4   MLS ID                    9117 non-null   int64
 5   Listing Type              9117 non-null   object
 6   Status                    9117 non-null   object
 7   List Price                9117 non-null   int64
 8   Days on Market            9115 non-null   float64
 9   Township Name             9114 non-null   object
 10  Subdivision               9114 non-null   object
 11  Tax Amount                9110 non-null   float64
 12  Total Assessed Value      9117 non-null   int64
 13  Assessed Land             9117 non-null   int64
 14  Assessed Improvement      9117 non-null   int64
 15  Total Market Value        9117 non-null   int64
 16  Market Value Land         9117 non-null   int64
 17  Market Value Improvement  9117 non-null   int64
 18  Estimated Value           8819 non-null   float64
 19  County Use Code           9113 non-null   object
 20  Universal Land Use        9117 non-null   object
 21  Zoning                    2318 non-null   object
 22  Lot Acres                 9117 non-null   float64
 23  Lot SQFT                  9117 non-null   float64
 24  New Construction          8847 non-null   object
 25  Beds                      9013 non-null   float64
 26  Baths                     9117 non-null   float64
 27  Total Building Area       9117 non-null   int64
 28  Living Area SQFT          9041 non-null   float64
 29  Basement SQFT             7 non-null      float64
 30  Garage SQFT               8301 non-null   float64
 31  Basement                  1551 non-null   object
 32  Flooring Cover            2968 non-null   object
 33  Stories                   8915 non-null   object
 34  Year Built                8847 non-null   float64
 35  Air conditioning          8311 non-null   object
 36  Heat Type                 8174 non-null   object
 37  Fireplace indicator       9117 non-null   bool
 38  Construction Type         4996 non-null   object
 39  Exterior Wall             8312 non-null   object
 40  Roof Material Type        6676 non-null   object
 41  Porch Type                5825 non-null   object
 42  Has Pool                  1631 non-null   object
 43  Parking spaces            9117 non-null   int64
 44  Parking Type              8436 non-null   object
 45  Total Units               9117 non-null   int64
 46  Sales Price               6153 non-null   float64
 47  Equity                    8819 non-null   float64
 48  Equity Percentage         8956 non-null   object
 49  Mortgage 1 Amount         6647 non-null   float64
 50  Mortgage 1 Rate           6647 non-null   object
dtypes: bool(1), float64(16), int64(11), object(23)
memory usage: 3.6+ MB

In [7]:
cleaning = personal_scrubbed2[personal_scrubbed2['Universal Land Use'] != 'Commercial (General)']
cleaning = personal_scrubbed2[personal_scrubbed2['Universal Land Use'] != 'Commercial-Vacant Land']
cleaning = personal_scrubbed2[personal_scrubbed2['Universal Land Use'] != 'Residential-Vacant Land']
cleaning.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9047 entries, 0 to 2613
Data columns (total 51 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   City                      9033 non-null   object
 1   State                     9047 non-null   object
 2   ZIP 5                     9030 non-null   float64
 3   ZIP 4                     8969 non-null   float64
 4   MLS ID                    9047 non-null   int64
 5   Listing Type              9047 non-null   object
 6   Status                    9047 non-null   object
 7   List Price                9047 non-null   int64
 8   Days on Market            9045 non-null   float64
 9   Township Name             9044 non-null   object
 10  Subdivision               9044 non-null   object
 11  Tax Amount                9041 non-null   float64
 12  Total Assessed Value      9047 non-null   int64
 13  Assessed Land             9047 non-null   int64
 14  Assessed Improvement      9047 non-null   int64
 15  Total Market Value        9047 non-null   int64
 16  Market Value Land         9047 non-null   int64
 17  Market Value Improvement  9047 non-null   int64
 18  Estimated Value           8810 non-null   float64
 19  County Use Code           9043 non-null   object
 20  Universal Land Use        9047 non-null   object
 21  Zoning                    2315 non-null   object
 22  Lot Acres                 9047 non-null   float64
 23  Lot SQFT                  9047 non-null   float64
 24  New Construction          8844 non-null   object
 25  Beds                      8956 non-null   float64
 26  Baths                     9047 non-null   float64
 27  Total Building Area       9047 non-null   int64
 28  Living Area SQFT          8984 non-null   float64
 29  Basement SQFT             7 non-null      float64
 30  Garage SQFT               8298 non-null   float64
 31  Basement                  1550 non-null   object
 32  Flooring Cover            2968 non-null   object
 33  Stories                   8912 non-null   object
 34  Year Built                8844 non-null   float64
 35  Air conditioning          8308 non-null   object
 36  Heat Type                 8172 non-null   object
 37  Fireplace indicator       9047 non-null   bool
 38  Construction Type         4993 non-null   object
 39  Exterior Wall             8309 non-null   object
 40  Roof Material Type        6673 non-null   object
 41  Porch Type                5824 non-null   object
 42  Has Pool                  1629 non-null   object
 43  Parking spaces            9047 non-null   int64
 44  Parking Type              8433 non-null   object
 45  Total Units               9047 non-null   int64
 46  Sales Price               6144 non-null   float64
 47  Equity                    8810 non-null   float64
 48  Equity Percentage         8925 non-null   object
 49  Mortgage 1 Amount         6605 non-null   float64
 50  Mortgage 1 Rate           6605 non-null   object
dtypes: bool(1), float64(16), int64(11), object(23)
memory usage: 3.5+ MB

Rerun pandas profiling to see if bounds are more reasonable (deleted due to memory problems)

Remove large outliers from Assessed Value column to filter out very large values and 0's

In [8]:

q_low = cleaning['Total Assessed Value'].quantile(0.01)
q_hi  = cleaning['Total Assessed Value'].quantile(0.99)

cleaning = cleaning[(cleaning['Total Assessed Value'] < q_hi) & (cleaning['Total Assessed Value'] > q_low)]

In [9]:

q_low = cleaning['Sales Price'].quantile(0.01)
q_hi  = cleaning['Sales Price'].quantile(0.99)

cleaning = cleaning[(cleaning['Sales Price'] < q_hi) & (cleaning['Sales Price'] > q_low)]

In [10]:
cleaning = cleaning[cleaning['Universal Land Use'] != 'Condominium Unit (Residential)']
cleaning = cleaning[cleaning['Universal Land Use'] != 'Duplex (2 units - any combination)']
cleaning = cleaning[cleaning['Universal Land Use'] != 'Multi-Family Dwellings (Generic - 2+)']
cleaning = cleaning[cleaning['Universal Land Use'] != 'Apartment house (5+ units)']
cleaning = cleaning[cleaning['Universal Land Use'] != 'Commercial Building']
cleaning = cleaning[cleaning['Universal Land Use'] != 'Vacant Land (General)']

In [11]:
cleaning = cleaning[cleaning['Listing Type'] != 'lease']

In [12]:
cleaning = cleaning[cleaning['Universal Land Use'] != 'Commercial (General)']
cleaning = cleaning[cleaning['Universal Land Use'] != 'Commercial-Vacant Land']
cleaning = cleaning[cleaning['Universal Land Use'] != 'Condominium Offices']
cleaning = cleaning[cleaning['Universal Land Use'] != 'Neighborhood Shopping Center - Strip Center/Mall - Enterprise Zone']
cleaning = cleaning[cleaning['Universal Land Use'] != 'Under Construction']

Create variables for comparison

In [13]:
cleaning['Sales/List Ratio'] = cleaning['Sales Price'] / cleaning['List Price']
cleaning['List Price per SQFT'] = cleaning['List Price'] / cleaning['Living Area SQFT']
cleaning['Sale Price per SQFT'] = cleaning['Sales Price'] / cleaning['Living Area SQFT']
cleaning.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4671 entries, 2 to 2612
Data columns (total 54 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   City                      4671 non-null   object
 1   State                     4671 non-null   object
 2   ZIP 5                     4671 non-null   float64
 3   ZIP 4                     4670 non-null   float64
 4   MLS ID                    4671 non-null   int64
 5   Listing Type              4671 non-null   object
 6   Status                    4671 non-null   object
 7   List Price                4671 non-null   int64
 8   Days on Market            4671 non-null   float64
 9   Township Name             4671 non-null   object
 10  Subdivision               4671 non-null   object
 11  Tax Amount                4669 non-null   float64
 12  Total Assessed Value      4671 non-null   int64
 13  Assessed Land             4671 non-null   int64
 14  Assessed Improvement      4671 non-null   int64
 15  Total Market Value        4671 non-null   int64
 16  Market Value Land         4671 non-null   int64
 17  Market Value Improvement  4671 non-null   int64
 18  Estimated Value           4668 non-null   float64
 19  County Use Code           4671 non-null   object
 20  Universal Land Use        4671 non-null   object
 21  Zoning                    1191 non-null   object
 22  Lot Acres                 4671 non-null   float64
 23  Lot SQFT                  4671 non-null   float64
 24  New Construction          4668 non-null   object
 25  Beds                      4671 non-null   float64
 26  Baths                     4671 non-null   float64
 27  Total Building Area       4671 non-null   int64
 28  Living Area SQFT          4671 non-null   float64
 29  Basement SQFT             3 non-null      float64
 30  Garage SQFT               4597 non-null   float64
 31  Basement                  791 non-null    object
 32  Flooring Cover            1555 non-null   object
 33  Stories                   4667 non-null   object
 34  Year Built                4668 non-null   float64
 35  Air conditioning          4466 non-null   object
 36  Heat Type                 4434 non-null   object
 37  Fireplace indicator       4671 non-null   bool
 38  Construction Type         2534 non-null   object
 39  Exterior Wall             4470 non-null   object
 40  Roof Material Type        3663 non-null   object
 41  Porch Type                3204 non-null   object
 42  Has Pool                  1124 non-null   object
 43  Parking spaces            4671 non-null   int64
 44  Parking Type              4642 non-null   object
 45  Total Units               4671 non-null   int64
 46  Sales Price               4671 non-null   float64
 47  Equity                    4668 non-null   float64
 48  Equity Percentage         4668 non-null   object
 49  Mortgage 1 Amount         4485 non-null   float64
 50  Mortgage 1 Rate           4485 non-null   object
 51  Sales/List Ratio          4671 non-null   float64
 52  List Price per SQFT       4671 non-null   float64
 53  Sale Price per SQFT       4671 non-null   float64
dtypes: bool(1), float64(19), int64(11), object(23)
memory usage: 1.9+ MB

Replace nulls with labels for boolian columns for comparison

In [14]:
cleaning['Has Pool'].fillna('None', inplace = True)
cleaning['Basement'].fillna('No Basement', inplace = True)
cleaning['Porch Type'].fillna('None', inplace = True)
cleaning['Heat Type'].fillna('Yes', inplace = True)
cleaning['Roof Material Type'].fillna('Composition Shingle', inplace = True)
cleaning['Air conditioning'].fillna('Yes', inplace = True)
cleaning = cleaning.drop(['Basement SQFT', 'Total Assessed Value', 'Assessed Land', 'Assessed Improvement', 'State', 'Status', 'Zoning'], axis = 1)

Reset Index

In [16]:
cleaned = cleaning.reset_index(drop=True)
cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4671 entries, 0 to 4670
Data columns (total 47 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   City                      4671 non-null   object
 1   ZIP 5                     4671 non-null   float64
 2   ZIP 4                     4670 non-null   float64
 3   MLS ID                    4671 non-null   int64
 4   Listing Type              4671 non-null   object
 5   List Price                4671 non-null   int64
 6   Days on Market            4671 non-null   float64
 7   Township Name             4671 non-null   object
 8   Subdivision               4671 non-null   object
 9   Tax Amount                4669 non-null   float64
 10  Total Market Value        4671 non-null   int64
 11  Market Value Land         4671 non-null   int64
 12  Market Value Improvement  4671 non-null   int64
 13  Estimated Value           4668 non-null   float64
 14  County Use Code           4671 non-null   object
 15  Universal Land Use        4671 non-null   object
 16  Lot Acres                 4671 non-null   float64
 17  Lot SQFT                  4671 non-null   float64
 18  New Construction          4668 non-null   object
 19  Beds                      4671 non-null   float64
 20  Baths                     4671 non-null   float64
 21  Total Building Area       4671 non-null   int64
 22  Living Area SQFT          4671 non-null   float64
 23  Garage SQFT               4597 non-null   float64
 24  Basement                  4671 non-null   object
 25  Flooring Cover            1555 non-null   object
 26  Stories                   4667 non-null   object
 27  Year Built                4668 non-null   float64
 28  Air conditioning          4671 non-null   object
 29  Heat Type                 4671 non-null   object
 30  Fireplace indicator       4671 non-null   bool
 31  Construction Type         2534 non-null   object
 32  Exterior Wall             4470 non-null   object
 33  Roof Material Type        4671 non-null   object
 34  Porch Type                4671 non-null   object
 35  Has Pool                  4671 non-null   object
 36  Parking spaces            4671 non-null   int64
 37  Parking Type              4642 non-null   object
 38  Total Units               4671 non-null   int64
 39  Sales Price               4671 non-null   float64
 40  Equity                    4668 non-null   float64
 41  Equity Percentage         4668 non-null   object
 42  Mortgage 1 Amount         4485 non-null   float64
 43  Mortgage 1 Rate           4485 non-null   object
 44  Sales/List Ratio          4671 non-null   float64
 45  List Price per SQFT       4671 non-null   float64
 46  Sale Price per SQFT       4671 non-null   float64
dtypes: bool(1), float64(18), int64(8), object(20)
memory usage: 1.6+ MB

In [18]:
###cleaning[['List Price', 'Sales Price','Total Assessed Value', 'Total Market Value', 'Estimated Value','Assessed Land', 'Market Value Land', 'Assessed Improvement', 'Market Value Improvement']].head(50)
###cleaning['Has Pool'].head(50)
cleaning['Fireplace indicator'].head(50)
###cleaning.loc['Assessed Land', 'Market Value Land', 'Assessed Improvement', 'Market Value Improvement'].head()

2       True
3       True
5       True
6       True
9       True
11      True
12      True
15      True
16      True
17      True
18      True
22      True
25      True
27      True
28      True
33      True
36      True
38      True
40      True
42      True
51      True
52      True
53      True
55      True
56      True
59      True
60      True
61      True
66      True
67      True
70      True
73      True
75      True
76      True
80      True
81     False
83     False
85      True
93      True
94      True
95      True
96      True
97      True
101     True
102     True
105     True
106     True
107    False
109     True
110     True
Name: Fireplace indicator, dtype: bool

Save Data as csv

In [17]:

cleaned.to_csv('Sold Home Data Cleaned v2')